@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --search-color: #0e60e8;
}

body {
  background-color: #111524;
}

* {
  color: white;
  font-family: "Poppins", sans-serif;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 85%;
  height: 10em;
}

h2 {
  font-size: 2em;
}

#search-bar {
  background-color: #171f38;
  width: 85vw;
  min-height: 3em;
  margin-top: 1em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
}

#search-icon > * {
  color: var(--search-color);
}

#search-box {
  background: transparent;
  border: none;
  padding-left: 0.5em;
  margin-left: 0.5em;
  width: 100%;
  font-size: 1em;
}

#search-box:focus {
  outline: none;
}

#result {
  border-radius: 1em;
  margin-top: 1.5em;
  background-color: #171f38;
  width: 85%;
  min-height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-info {
  display: flex;
  padding: 2em 1em 0 1.5em;
  height: 7em;
  width: 100%;
}

#profile-picture {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

#main-info-side > * {
  margin: 0;
}

#main-info-side {
  display: flex;
  flex-direction: column;
  margin-left: 1.4em;
  height: 95%;
  padding: 0.3em 0 0 0;
  justify-content: space-between;
}

#name {
  font-size: 1em;
  font-weight: 600;
}

#github-link > a {
  text-decoration: none;
  color: #0e60e8;
}

#github-link {
  /* transform: translateY(-0.5em); */
  font-size: 0.7em;
}

#joined-date {
  font-size: 0.8em;
}

#bio-container {
  display: flex;
  width: 95%;
  max-height: 8em;
  padding: 0 1.5em 0 1.5em;
  font-size: 0.8em;
  margin-top: 1em;
  overflow: hidden;
}

#bio-text {
  white-space: normal;
  font-size: 1.2em;
}

#data-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 5.5em;
  background-color: #111524;
  border-radius: 1em;
}

#data-titles {
  display: flex;
  justify-content: center;
  height: 2em;
  width: 80%;
}

#data-titles > * {
  font-size: 0.75em;
  margin-left: 1.4em;
  margin-right: 1.4em;
  font-weight: 300;
}

#data-numbers {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 1.5em 0 1.5em;
}

#data-numbers > * {
  font-size: 0.75em;
  margin: 0.5em 1.5em 0 1.2em;
  font-weight: 600;
  font-size: 1.25em;
}

#brands {
  margin-top: 1.5em;
  justify-content: left;
  width: 80%;
}

#brands > h4 > svg {
  width: 1em;
  margin-right: 1.5em;
}

#brands > h4 {
  margin: 0.7em auto;
  display: flex;
  align-items: center;
}

#brands > h4 > p {
  margin: 0;
  font-weight: 300;
}

.grayedOut {
  color: gray;
}

@keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingRotation {
  animation: loadingSpin 1.5s linear infinite;
}
